* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-punteggio {
    display: flex;
    justify-content: space-around;
    height: 50px;

}

.grid-container {
    margin: auto;
    width: 90%;
    height: calc(100vh - 50px);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
  }

  .grid-item {
    border: 1px solid black;
  }